* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    background-color: rgba(255, 99, 71, 0.157);
    min-height: 100vh;
    font-size: 1.5rem;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size:1rem ;
}
.container {
    width: 1000;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;

}
button {
    color: black;
    background-color: rgba(245, 245, 245, 0.867);
    font-weight: bolder;
    border-radius: 12px;
    border-style: none;
}

.orange {
    color: tomato;
}

ul {
    list-style: none;

}
img {
    height: 90vh;
    width: 30rem;

}
.flexbutton {
    display: flex;

}
h3 {
 
    font-weight: bolder;
    
}

.white {
    color: whitesmoke;
    background-color: tomato;
}
f